
.project {
	color: #E6E9ED;
	position: relative;
	margin: 0;
	white-space: nowrap;
}

.word {
	color: #3BAFDA;
	white-space: nowrap;
	overflow: hidden;
}

.brackets:after{
	font-family: arial;
	content:' />';
	color: #3BAFDA;
	font-size: calc(1px + 1.6vw);

}
 .brackets:before{
	font-family: arial;
	content:'< ';
	color: #3BAFDA;
	font-size: calc(1px + 1.6vw);
}

.small{
	font-size: 12px;
}

hr.style5 {
	border: none;
	border-top: 2px dashed snow;
	width:10px;
}

a {
	color:white;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}