
.project {
	color: #E6E9ED;
	/*font-size: 40px;*/
	position: relative;
	margin: 0;
}

.word {
	color: #3BAFDA;
	white-space: nowrap;
	overflow: hidden;
}

.project:after{
	font-family: arial;
	content:'/>';
	color: #3BAFDA;
	font-size: 28px;
}
.project:before{
	font-family: arial;
	content:'<';
	color: #3BAFDA;
	font-size: 28px;
}

.small{
	font-size: 12px;
}

hr.style5 {
	border: none;
	border-top: 2px dashed snow;
	width:10px;
}

a {
	color:white;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}