<div class="wrapper">
    <div class="main">
        <section class="page1">

            <h1 class="white">Resume </h1>
            <object data="resume/Resume.pdf" type="application/pdf" width="100%" height="100%" style="    width: 60%;float: right;">
                <p><a href="resume/Resume.pdf">Download PDF</a></p>
          </object>
      </section>

      <section class="page2">
        <div class="page_container">
            <h1><a href=
                "#">This link goes nowhere.<br>
                <small>It's the journey that counts.</small></a></h1>
            </div>
        </section>

        <section class="page3">
            <div class="page_container">
                <h1><a href=
                    "#">This link goes nowhere.<br>
                    <small>It's the journey that counts.</small></a></h1>
                </div>
            </section>

            <section class="page4">
                <div class="page_container">
                    <h1><a href=
                        "#">This link goes nowhere.<br>
                        <small>It's the journey that counts.</small></a></h1>
                    </div>
                </section>

                <section class="page5">
                    <div class="page_container">
                        <h1><a href=
                            "#">This link goes nowhere.<br>
                            <small>It's the journey that counts.</small></a></h1>
                        </div>
                    </section>

                    <section class="page6">
                        <div class="page_container">
                            <h1><a href=
                                "#">This link goes nowhere.<br>
                                <small>It's the journey that counts.</small></a></h1>
                            </div>
                        </section>

                        <section class="page7">
                            <div class="page_container">
                                <h1><a href=
                                    "#">This link goes nowhere.<br>
                                    <small>It's the journey that counts.</small></a></h1>
                                </div>
                            </section>

                            <section class="page8">
                                <div class="page_container">
                                    <h1><a href=
                                        "#">This link goes nowhere.<br>
                                        <small>It's the journey that counts.</small></a></h1>
                                    </div>
                                </section>
                            </div>
                        </div>
