	<br />
	<div class="project">
		<span clas="name">OSFPages</span>
		<a href="https://github.com/Rytiggy/osfpages" target="_blank"><span class="web small" >View on </span><span class="word small"> gitHub</span></a>
	</div>

	<hr class="style5">

	<div class="project">
		<span clas="name">The Federal Prototype</span>
		<a href="https://github.com/Rytiggy/Federal-Prototype" target="_blank"><span class="web small" >View on </span><span class="word small"> gitHub</span></a>
	</div>

	<hr class="style5">

	<div class="project">
		<span clas="name">UCSD Dashboard</span>
		<a href="https://github.com/Rytiggy/share-analytics" target="_blank"><span class="web small" >View on </span><span class="word small"> gitHub</span></a>
	</div>
	
	<hr class="style5">

	<div class="project">
		<span clas="name">Senior Development Project</span>
		<a href="https://github.com/Rytiggy/knuth-sen-dev" target="_blank"><span class="web small" >View on </span><span class="word small"> gitHub</span></a>
	</div>
	<hr class="style5">

	<div class="project">
		<span clas="name">Collections</span>
		<a href="https://github.com/Rytiggy/collections"><span class="web small" >View on </span><span class="word small"> gitHub</span></a>
	</div>

	<hr class="style5">
