<br/ >
<h3 class="text-center">~ PROJECTS ~</h3>

<div class="flex-container">

  <a target="_blank" href='https://github.com/cos-labs/Federal-Prototype' class="flex-item">
    <article class="entry">
      <a>
        <aside>
          <strong>Federal Prototype</strong>
          <p>The Federal Prototype Project is centered around a new government mandate. This mandate states that any research that is funded by the government must not be behind a paywall. There has been no platform created to facilitate this proccess.</p>
      </aside>
      <img src="https://i.imgur.com/lIkWmas.png"/>
      <i>Click to view on github</i>
  </a>
  <ul>
    <li style="background-color:#246f41"></li><li style="background-color:#f57b20"></li><li style="background-color:#433e42"></li>
</ul>
</article>
</a>

<div class="flex-item">
    <article class="entry">
        <a target="_blank" href='https://github.com/Rytiggy/knuth-sen-dev'>
            <aside>
              <strong>Senior Development Project</strong>
              <p>the Course Assessment System was done during my senior year to build a platform to spec to represent a real world business senerio.</p>
          </aside>
          <img src="https://i.imgur.com/OzLBARg.jpg"/>
          <i>Click to view on github</i>
      </a>
      <ul>
        <li style="background-color:#8dcf0a"></li><li style="background-color:#5a9619"></li><li style="background-color:#2c2c2c"></li>
    </ul>
</article>
</div>


<div class="flex-item">

    <article class="entry">
        <a>
            <aside>
                <strong>Clarity Signs</strong>
                <p>Kenmore Based Sign Shop</p>
            </aside>
            <img src="https://i.imgur.com/jUW32np.jpg"/>
            <i></i>
        </a>
        <ul>
            <li style="background-color:#d4132e"></li><li style="background-color:#282627"></li><li style="background-color:#7c7c7c"></li>
        </ul>
    </article>

</div>

<div class="flex-item">

    <article class="entry">
      <a>
        <aside>
          <strong>Clarity Signs</strong>
          <p>Kenmore Based Sign Shop</p>
      </aside>
      <img src="https://i.imgur.com/jUW32np.jpg"/>
      <i></i>
  </a>
  <ul>
    <li style="background-color:#d4132e"></li><li style="background-color:#282627"></li><li style="background-color:#7c7c7c"></li>
</ul>
</article>

</div>
<div class="flex-item">

    <article class="entry">
      <a>
        <aside>
          <strong>Maddock &amp; Associates</strong>
          <p>Tacoma Based Insurance Broker</p>
      </aside>
      <img src="https://i.imgur.com/Jc1nXxx.jpg"/>
      <i></i>
  </a>
  <ul>
    <li style="background-color:#0084be"></li><li style="background-color:#014c71"></li><li style="background-color:#329e00"></li>
</ul>
</article>

</div>
<div class="flex-item">
    <article class="entry">
      <a>
        <aside>
          <strong>Smart Office Environments</strong>
          <p>Office Furniture</p>
      </aside>
      <img src="https://i.imgur.com/U0Mr5kU.jpg"/>
      <i></i>
  </a>
  <ul>
    <li style="background-color:#ecce00"></li><li style="background-color:#333333"></li><li style="background-color:#cccccc"></li>
</ul>
</article>

</div>


<div class="flex-item">

    <article class="entry">
      <a>
        <aside>
          <strong>Cardiac Science</strong>
          <p>International Defibrillators</p>
      </aside>
      <img src="https://i.imgur.com/7tndqyT.jpg"/>
      <i></i>
  </a>
  <ul>
    <li style="background-color:#ffa43f"></li><li style="background-color:#afbc22"></li><li style="background-color:#3c8dce"></li>
</ul>
</article>

</div>
<div class="flex-item">

    <article class="entry">
      <a>
        <aside>
          <strong>Brennan Heating</strong>
          <p>Seattle Heating &amp; Air Conditioning</p>
      </aside>
      <img src="https://i.imgur.com/xz4mBfi.jpg"/>
      <i></i>
  </a>
  <ul>
    <li style="background-color:#d43254"></li><li style="background-color:#2f5fac"></li><li style="background-color:#57aeff"></li>
</ul>
</article>

</div>

<div class="flex-item">

    <article class="entry">
      <a>
        <aside>
          <strong>Divers Institute</strong>
          <p>Seattle Diving School</p>
      </aside>
      <img src="https://i.imgur.com/b3uXhJH.jpg"/>
      <i></i>
  </a>
  <ul>
    <li style="background-color:#2b8dbd"></li><li style="background-color:#264c5f"></li><li style="background-color:#f36000"></li>
</ul>
</article>

</div>
<div class="flex-item">


    <article class="entry">
      <a>
        <aside>
          <strong>Evoke Modern</strong>
          <p>Pacific Northwest Modern Homes</p>
      </aside>
      <img src="https://i.imgur.com/tecOxxA.jpg"/>
      <i></i>
  </a>
  <ul>
    <li style="background-color:#cecccf"></li><li style="background-color:#6581a0"></li><li style="background-color:#272425"></li>
</ul>
</article>

</div>



</div>

<!-- <div class="wrapper">
    <div class="main">
        <section class="page1">
            <div style='float:left; width:40%'>
                <div class="white">Resume </div>
                <br />
                <div class="button-xlarge pure-button">Download Resume</div>
            </div>
            <object data="resume/Resume.pdf" type="application/pdf" width="100%" height="100%" style="    width: 60%;float: right;">
                <p><a href="resume/Resume.pdf">Download PDF</a></p>
            </object>
        </section>



        <section class="page2">

            <div class="text-center"> 
                <h2 class='white'>Projects</h2>
                <div class="c100 p100 skills big">
                    <span><small>HTML</small>
                    </span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>


                <div class="c100 p100 skills big">
                    <span><small>HTML</small></span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>


                <div class="c100 p100 skills big">
                    <span><small>HTML</small></span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>


            </div>
        </section>


        <section class="page3">
            <div class="page_container">
                <h1><a href=
                    "#">This link goes nowhere.<br>
                    <small>It's the journey that counts.</small></a>
                </h1>
            </div>
        </section>
        <section class="page4">
            <div class="page_container">
                <h1><a href=
                    "#">This link goes nowhere.<br>
                    <small>It's the journey that counts.</small></a>
                </h1>
            </div>
        </section> -->
<!--       <section class="page5">
<div class="page_container">
<h1><a href=
"#">This link goes nowhere.<br>
<small>It's the journey that counts.</small></a>
</h1>
</div>
</section>
<section class="page6">
<div class="page_container">
<h1><a href=
"#">This link goes nowhere.<br>
<small>It's the journey that counts.</small></a>
</h1>
</div>
</section>
<section class="page7">
<div class="page_container">
<h1><a href=
"#">This link goes nowhere.<br>
<small>It's the journey that counts.</small></a>
</h1>
</div>
</section>
<section class="page8">
<div class="page_container">
<h1><a href=
"#">This link goes nowhere.<br>
<small>It's the journey that counts.</small></a>
</h1>
</div>
</section> -->
<!-- </div>
</div> -->


