@import "pod-styles.css";

@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Extended+Text');
@import url('https://fonts.googleapis.com/css?family=Roboto');


body {
	margin:0;
	padding:0;
	font-family: 'Roboto', sans-serif;
	color:#3c474f;
}

/* Works in all browsers, does not effect other views within your application */
body > .ember-view {
	height: 100%;
}

.bar-code-text {
	font-family: 'Libre Barcode 39 Extended Text', cursive;
}

.spacer{
	height:75px;
	width:100%;
}


.flex-grid {
	display: flex;
}
.col {
	flex: 1;
}
.col-sml {
	flex: .70;
}

h2 {
	font-weight: normal;
	font-size: 34px;
	margin:0;
}

h3 {
	font-size: 80px;
	margin-bottom: 5px;
}
h4 {
	font-weight: normal;
	font-size: 28px;
	margin:0;
}

.text-center {
	text-align: center;
}
.center-content {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.slant {
	-webkit-transform: rotate(5deg) skew(5deg, 0);
	-moz-transform: rotate(5deg) skew(5deg, 0);
	-ms-transform: rotate(5deg) skew(5deg, 0);
	-o-transform: rotate(5deg) skew(5deg, 0);
	transform: rotate(5deg) skew(5deg, 0);
	margin: 0px 0px;
}


.blue-background {
	background: #5c9cec;
}

.orange-background {
	background: #ffce53;
}

.purple-background { 
	background: #ac92ec;
}

.gray-background {
	background: #e6e9ee;
}

.circle-div {
	border-radius: 100px;
	margin:10px;
}
.bar {
	background: #5c9cec;
	margin:0 auto;
	border:none;
}

.btn-outline {
	margin:20px;
	color:#e6e9ee;
	font-size: 24px;
	text-transform: uppercase;
	background-color: Transparent;
	background-repeat:no-repeat;
	cursor:pointer;
	overflow: hidden;
	outline:none;
	border-width: 2px;
	border-color:#e6e9ee;
	padding:10px 25px;
}

a {
	color:snow;
}

a:hover {
	color:#5c9cec;
}

a:active {
	color:#5c9cec;
}

p.large-paragraph {
	max-width: 800px;
	margin:auto;
	font-size: 18px;
	padding-bottom:10px;
}

.btn-resume {
	position: absolute;
	top:680px;
	left:0;
	z-index: 99;
}

.blue {
	background: #5c9cec;
	color:#e6e9ee;
}

.gray {
	background: #e6e9ee;
	color:#3c474f;

}

.purple {
	background: #ac92ec;
	color:#e6e9ee;
}

.orange {
	background: #ffce53;
	color:#3c474f;

}

.dark-gray {
	background: #646d78;
	color:#e6e9ee;
}

.white {
	background: snow;
	color:#646d78;
}


hr.color {

  width: 440px;
  height: 1px;
  margin:35px auto;
  border-radius: 10px;
  border: 0;
  background: linear-gradient(90deg, #5c9cec 0%, #ac92ec 50%, #5c9cec 100%);
  animation: scroll 3s linear infinite;
}

@keyframes scroll {
  100% {
    background-position: 500px 0;
  }
}
