{{yield}}
<br/ >
<div class="wrapper">
  <div class="container">
    <div class="label one">HTML</div>
    <div class="progress-bar">
      <div class="progress fill-1">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="label two">CSS</div>
    <div class="progress-bar">
      <div class="progress fill-2">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="label three">JS / JQuery</div>
    <div class="progress-bar">
      <div class="progress fill-3">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="label three">GIT</div>
    <div class="progress-bar">
      <div class="progress fill-4">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="label three">SQL / PSQL</div>
    <div class="progress-bar">
      <div class="progress fill-5">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="label three">Ember</div>
    <div class="progress-bar">
      <div class="progress fill-6">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="label three">PHP</div>
    <div class="progress-bar">
      <div class="progress fill-7">
      </div>
    </div>
  </div>


    <div class="container">
    <div class="label three">JAVA</div>
    <div class="progress-bar">
      <div class="progress fill-8">
      </div>
    </div>
  </div>

    <div class="container">
    <div class="label three">Python</div>
    <div class="progress-bar">
      <div class="progress fill-9">
      </div>
    </div>
  </div>

    <div class="container">
    <div class="label three">Swift</div>
    <div class="progress-bar">
      <div class="progress fill-10">
      </div>
    </div>
  </div>
</div>