{{yield}}
<br/ >
<div class="wrapper">
  <div class="container">
    <div class="label one">HTML</div>
    <div class="progress-bar">
      <div class="progress fill-1">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="label two">CSS</div>
    <div class="progress-bar">
      <div class="progress fill-2">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="label three">JS / JQuery</div>
    <div class="progress-bar">
      <div class="progress fill-3">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="label three">GIT</div>
    <div class="progress-bar">
      <div class="progress fill-3">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="label three">SQL / PSQL</div>
    <div class="progress-bar">
      <div class="progress fill-3">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="label three">Ember</div>
    <div class="progress-bar">
      <div class="progress fill-3">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="label three">Metric 3</div>
    <div class="progress-bar">
      <div class="progress fill-3">
      </div>
    </div>
  </div>
</div>