.nav {
	background:snow;
	height:75px;
	box-shadow: -5px -2px 15px #666;
	position: fixed;
	padding:10px 50px;
	box-sizing: border-box;
	width:100%;
    z-index: 100;
	white-space: nowrap;

}

.nav-title {
	display:block;
}
.nav-title-text {
	font-size: 2.2em;
	text-transform: uppercase;
	margin:0 right;
	line-height: 50px;

}
.nav-title-text:nth-child(2) {
	font-size: 2.6em;
}

