$primary: #48c591;
$dark: #212529;
@import "node_modules/bootstrap/scss/bootstrap";
@import "./bootstrap-theme";
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Space+Mono');

html {
   height: 100%;
}
body {
   min-height: 100%;
   font-family: 'Space Mono', monospace;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Playfair Display', serif;
}

.btn-primary, .badge-primary {
    color: #ffffff;
}
