{{yield}}
<ul class="word-cloud">

    <li class="word-cloud__word  word-cloud__word--small">Sony Vegas</li>
    <li class="word-cloud__word  word-cloud__word--large">git</li>
    <li class="word-cloud__word  word-cloud__word--x-large">HTML</li>
    <li class="word-cloud__word  word-cloud__word--small">SQL / PSQL</li>

    <li class="word-cloud__word  word-cloud__word--large">Java</li>
    <li class="word-cloud__word  word-cloud__word--x-large">JQuery</li>
    <li class="word-cloud__word  word-cloud__word--large">Swift</li>
    <li class="word-cloud__word  word-cloud__word--small">Agile</li>

    <li class="word-cloud__word  word-cloud__word--large">Ionic</li>
    <li class="word-cloud__word  word-cloud__word--x-small">Marko</li>

    <li class="word-cloud__word  word-cloud__word--small">Python</li>
    <li class="word-cloud__word  word-cloud__word--large">Ember</li>
    <li class="word-cloud__word  word-cloud__word--x-large">Communication</li>
    <li class="word-cloud__word  word-cloud__word--small">PHP</li>
        <li class="word-cloud__word  word-cloud__word--x-large">JavaScript</li>

    <li class="word-cloud__word  word-cloud__word--small">Conflict Resolution</li>
    <li class="word-cloud__word  word-cloud__word--x-large">CSS</li>
    <li class="word-cloud__word  word-cloud__word--large">c#</li>

    <li class="word-cloud__word  word-cloud__word--large">Ionic</li>
    <li class="word-cloud__word  word-cloud__word--x-small">Django</li>
    <li class="word-cloud__word  word-cloud__word--x-large">Adaptability</li>
     <li class="word-cloud__word  word-cloud__word--large">Leadership</li>





</ul>


<!-- 
    <li class="word-cloud__word  word-cloud__word--large">HTML</li>
    <li class="word-cloud__word  word-cloud__word--x-large">JQuery</li>
    <li class="word-cloud__word  word-cloud__word--small">SQL / PSQL</li>
    <li class="word-cloud__word  word-cloud__word--x-small">Python</li> -->
