{{yield}}
<div class="gray-background">
	<hr  size="40" class="bar">
	<div class="arrow-down"></div>
</div>

<div class="full-width-info gray text-center">
	<hr width="5" size="100" class="bar">
	<div class="text-center" style="margin-left:35px; margin-top:10px;">
		<div class="important-holder">
			<span class="important-text">Web</span><span class="important-text blue circle-div"> & </span><span class="important-text">Code</span>
			<span class="sub-text-left">Design</span><span class="sub-text-right">Development</span>


		</div>


	</div>
	<br>
	<p class="large-paragraph">An innovative, curious, hardworking individual with a BS in Information Technology from Rochester Institute of Technology. Enjoys working with and learning about technology. Successful, balanced IT education at RIT focusing on web and mobile. Working knowledge of web-based platforms and scripting. Strong interest in web design.</p>
	<hr width="5" size="100" class="bar">

</div>

{{info-block}}

<!-- <div class="blue-background gray-background">
	<div class="full-width-info blue slant">
		<h2>content</h2>
	</div>
</div> -->
<!-- <div class="full-width-info gray text-center flex-grid" >
	<br>
	<br>
	<br>
	<div class="col">dvskjvkm</div>
	{{word-cloud}}
	<br>
	<br>
	<br>
</div> -->

<div class="full-width-info dark-gray" >
	<h2 class="text-center">&#60; Some Projects &#47;&#62;</h2>

	<hr class="color">
	<div class="flex-grid">
		<div class="col"> 
			<div class="website-images">
				<div class="website-image image-one">
				</div>
				<div class="website-image image-two">
				</div>
				<div class="website-image image-three">
				</div>
			</div>
		</div>
		<div class="col">
			<p class="large-paragraph text-center center-content">
				<span class="website-title">OSFPages</span>
				OSF Pages is an Open Science Framework (OSF) addon and website builder that helps OSF users build beautiful websites very quickly using their existing project details. OSF Pages doesn't need additional hosting or management and it's free and open source.
			</p>
		</div>
	</div>
	<br>
	<hr class="color">
	<br>
	<div class="flex-grid">
		<div class="col">
			<p class="large-paragraph text-center center-content">
				<span class="website-title">OSFCollections</span>
				Collections is a prototype project at the Center for Open Science. This project is experimental, scope, technologies, This app has two main parts. The service stores data about the collection, and the client lets users interact with their collections.
			</p>
		</div>
		<div class="col"> 
			<div class="website-images">
				<div class="website-image image-four">
				</div>
				<div class="website-image image-five">
				</div>
				<div class="website-image image-six">
				</div>
				<div class="website-image image-seven">
				</div>
			<!-- 	<div class="website-image image-eight">
				</div>
				<div class="website-image image-nine">
				</div> -->
			</div>
		</div>
	</div>
	<br>
	<hr class="color">
	<br>
	<div class="flex-grid">
		<div class="col"> 
			<div class="website-images">
				<div class="website-image image-fifteen">
				</div>
			</div>
		</div>
		<div class="col">
			<p class="large-paragraph text-center center-content">
				<span class="website-title">Overturned Salt</span>
				Overturned Salt is a food blog that was a clients request to build a website with the ability to post, edit, delete, moderate and comment.
			</p>
		</div>
	</div>
	<br>
	<hr class="color">
	<br>
	<div class="flex-grid">
		<div class="col">
			<p class="large-paragraph text-center center-content">
				<span class="website-title">The Course Assessment Tool</span>
				The Course Assessment Tool was my senior development project at Rochester Institute of Technology(RIT) were my team and myself developed a system that handled assessment of courses at RIT allowing administration to set up classes and have faculty enter the grades from that semester to be able to generate reports and statics for the year.
			</p>
		</div>
		<div class="col"> 
			<div class="website-images">
				<!-- <div class="website-image image-ten">
				</div> -->
				<div class="website-image image-eleven">
				</div>
				<div class="website-image image-twelve">
				</div>
				<div class="website-image image-thirteen">
				</div>
				<div class="website-image image-fourteen">
				</div>
			</div>
		</div>
	</div>

	<hr class="color">

</div>



<div class="full-width-info orange text-center" >
	<h2 class="text-center">&#60; Hobbies &#47;&#62;</h2>
		<div class="col"> Soccer, Networking, Coding & Scripting, Traveling, Server Management, Photography, Networking
		</div>
	<p class="large-paragraph"></p>
</div>



<div class="full-width-info gray">

	<h2 class="text-center">Rochester Institute Of Technology</h2>
	<p class="text-center time-frame">2013-2017</p>
	<p class="large-paragraph text-center">Received my BS in Information Technology with an immersion in web and mobile design with a concentration in communications.</p>


	<h2 class="text-center">Assistant System Administrator</h2>
	<p class="text-center time-frame">2015-2016</p>
	<p class="large-paragraph text-center">
		Worked at the College of science providing technical support for faculty and staff at Rochester Institute Of Technology. Performed backup, restore, upgrades, and software installations for mac and windows computers.
	</p>
	<h2 class="text-center">Lab Technician</h2>
	<p class="text-center time-frame">2016-2016</p>
	<p class="large-paragraph text-center">
		Worked at the College of Imaging Arts and Sciences providing technical support, maintaining, fixing, upgrading computers, and providing end user support for computer labs on the Rochester institute of technology campus.
	</p>

	<h2 class="text-center">Developer Intern</h2>
	<p class="text-center time-frame">2016-2017</p>
	<p class="large-paragraph text-center">
		Worked at the Center for Open Science on developing web applications, collaborating with teams of developers, working with Ember.js, and Django REST api frameworks.  
	</p>

	<h2 class="text-center">Junior Software Engineer</h2>
	<p class="text-center time-frame">2016-Current</p>
	<p class="large-paragraph text-center">
		Working at the Center for open Science on the L.A.B.S team using rapid incremental prototyping to create prototypes. 

	</p>

</div>

<!-- <div class="full-width-info gray" >

</div> -->

<div class="full-width-info blue text-center " >
	<h3>Let’s get to work.</h3>
	<h4>Want to get in touch with me?</h4>
	<button class="btn-outline">Contact Me</button>
	<br>
	<br>
	<br>
</div>



<div class="full-width-info dark-gray" >
	<br>
	<div class="text-center">Icons by <a href="https://www.flaticon.com/authors/nikita-golubev" title="Nikita Golubev">Nikita Golubev</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</div>
