{{yield}}
<!-- <div class="gray-background">
	<hr  size="40" class="bar">
	<div class="arrow-down"></div>
</div> -->

<div class="full-width-info gray">
	<hr width="5" size="100" class="bar">
	<div class="text-center" style="margin-left:35px; margin-top:10px;">
		<span class="important-text">Web</span><span class="important-text blue circle-div"> & </span><span class="important-text">Code</span>
	</div>
</div>

<!-- <div class="blue-background gray-background">
	<div class="full-width-info blue slant">
		<h2>content</h2>
	</div>
</div> -->

<div class="full-width-info gray" >
	<p class="text-center">This content tells them a little back story on me it could be a time-line or were my passion lies.</p>
</div>


<div class="full-width-info gray" >
	<p class="text-center"></p>
</div>



<div class="flex-grid">
<iframe src="resume/Resume.pdf" width="50%" height="690" frameborder="0" id="iframe-resume"></iframe>
	{{info-block}}
	
</div>

<!-- <div class="full-width-info gray text-center flex-grid" >
	<br>
	<br>
	<br>
	<div class="col">dvskjvkm</div>
	{{word-cloud}}
	<br>
	<br>
	<br>
</div> -->

<div class="full-width-info blue text-center " >
	<h3>Let’s get to work.</h3>
	<h4>Want to get in touch with me?</h4>
	<button class="btn-outline">Contact Me</button>
	<br>
	<br>
<br>
</div>


<div class="full-width-info dark-gray" >
	<br>
	<div class="text-center">Icons by <a href="https://www.flaticon.com/authors/nikita-golubev" title="Nikita Golubev">Nikita Golubev</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</div>
