.info-block {
	height:270px;
	display: flex;
	background: snow;
}


.info-block-content-right {
	height:calc(100% - 20px);
	background:#e6e9ee;
	flex: 2;
	padding:10px;
}


.info-block-accent-right {
	height:100%;
	background: snow;
	flex: 1;

}
.arrow-left {
  width: 0; 
  height: 0; 
  margin-top:110px;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 30px solid #e6e9ee;
}




.info-block-content-left {
	height: calc(100% - 20px);
	/*width:65%;*/
	flex: 2;
	background:#5d9cec;
	padding:10px;
	color:#e6e9ee;
}


.info-block-accent-left {
	height:100%;
	/*width:35%;*/
	flex: 1;
	background: snow;
}
.arrow-right {
  width: 0; 
  height: 0; 
  margin-top:110px;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid #5d9cec;
}

.info-footer {
	background: #646d78;
	color:snow;
	height:150px;
}


.icon {
	color:#d6d1d1;
	font-size: 100px;
	line-height: 270px;
	margin-left:20px;
}

.orange {
	color: #FFBC51;
}

.paragraph-text { 
	text-align:center;
 }

.web-design {
	background-image: url('https://image.ibb.co/m2QjXR/landing_page.png');
	background-repeat:no-repeat;
	background-size: 100% 160px;
	height: 160px;
    margin-top: 55px;

}

.code-development {
	background-image: url('https://image.ibb.co/b72WCR/blueprint.png');
	background-repeat:no-repeat;
	background-size: 100% 160px;
	height: 160px;
    margin-top: 55px;
    margin-right:15px;

}
