{{outlet}}
<!-- <div class="bg-container">
  <div class="sun">
    <div class="ray_box">
      <div class="ray ray1"></div>
      <div class="ray ray2"></div>
      <div class="ray ray3"></div>
      <div class="ray ray4"></div>
      <div class="ray ray5"></div>
      <div class="ray ray6"></div>
      <div class="ray ray7"></div>
      <div class="ray ray8"></div>
      <div class="ray ray9"></div>
      <div class="ray ray10"></div>
    </div>
  </div>

  <div class="cloud cloud-large">
    <div class="cloud-1"></div>
    <div class="cloud-2"></div>
    <div class="cloud-3"></div>
    <div class="cloud-4"></div>
  </div>   


  <div class="cloud cloud-no-2 cloud-medium">
    <div class="cloud-1"></div>
    <div class="cloud-2"></div>
    <div class="cloud-3"></div>
    <div class="cloud-4"></div>
  </div>   



  <div class="mount-one"></div>
  <div class="tops"></div>


  <div class="cloud cloud-no-3 cloud-small">
    <div class="cloud-1"></div>
    <div class="cloud-2"></div>
    <div class="cloud-3"></div>
    <div class="cloud-4"></div>
  </div> 
  <div class="spacer"></div>  
</div>
-->

<div class='bar-holder' style='background: rgb(230,230,230); color: rgb(50,50,50);'>
  <br />
  <h3 class="text-center">~ TIMELINE ~</h3>

  <ul class="timeline">

    <!-- Item 1 -->
    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="flag">Rochester Institute of Technology</span>
          <span class="time-wrapper"><span class="time">2013 - 2017</span></span>
        </div>
        <div class="desc">Obtained my BS in information technology with an immersion in web and mobile and a concentration in communications</div>
      </div>
    </li>

    <!-- Item 2 -->
    <li>
      <div class="direction-l">
        <div class="flag-wrapper">
          <span class="flag">College of Science</span><br/>
          <span class="time-wrapper"><span class="time">2014 - 2015</span></span>
        </div>
        <div class="desc">Worked as a system administrator providing technical expertise to faculty and staff</div>
      </div>
    </li>

    <!-- Item 3 -->
    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="flag">Lab Services</span><br/>
          <span class="time-wrapper"><span class="time">2015 - 2016</span></span>
        </div>
        <div class="desc">Provided technical support for labs on RIT campus, including software management, user support, hardware replacements and more...</div>
      </div>
    </li>

    <li>
      <div class="direction-l">
        <div class="flag-wrapper">
          <span class="flag">Center for Open Science</span><br />
          <span class="time-wrapper"><span class="time">2016 - Present</span></span>
        </div>
        <div class="desc">Working as a Junior Software engineer developing web technologies to help make science more reproducible and open</div>
      </div>
    </li>



  </ul>












  <br >
  <br >
  <div class="proficiencies">
    <h3 class="text-center white">~ PROFICIENCIES ~</h3>
    <br >
    <div class="text-center"> 

      <div class="c100 p96 skills small green">
        <span><small>HTML</small></span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>

      <div class="c100 p70 skills small">
        <span><small>PHP</small></span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>


      <div class="c100 p93 skills small green">
        <span><small>JS</small></span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>

      <div class="c100 p93 skills small green">
        <span><small>JQUERY</small></span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>


      <div class="c100 p90 skills small">
        <span><small>JAVA</small></span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>

      <div class="c100 p90 skills small green">
        <span><small>CSS</small></span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>

      <div class="c100 p45 skills small">
        <span><small>PY</small></span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
      <br />
      <div class="c100 p42 skills small">
        <span><small>MYSQL</small></span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>

      <div class="c100 p40 skills small">
        <span><small>PSQL</small></span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>

      <div class="c100 p85 skills small orange">
        <span><small>SWIFT</small></span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>

      <div class="c100 p96 skills small orange">
        <span><small>GIT</small></span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>

    </div>
  </div>
</div>

{{social-media}}

<div class='bar-holder' style='background:#b2e6ff; '>
  {{component-gallery}}
</div>





