{{nav-menu}}
<div class="bg-container">
  <div class="sun">
    <div class="ray_box">
      <div class="ray ray1"></div>
      <div class="ray ray2"></div>
      <div class="ray ray3"></div>
      <div class="ray ray4"></div>
      <div class="ray ray5"></div>
      <div class="ray ray6"></div>
      <div class="ray ray7"></div>
      <div class="ray ray8"></div>
      <div class="ray ray9"></div>
      <div class="ray ray10"></div>
    </div>
  </div>

  <div class="cloud cloud-large">
    <div class="cloud-1"></div>
    <div class="cloud-2"></div>
    <div class="cloud-3"></div>
    <div class="cloud-4"></div>
  </div>   


  <div class="cloud cloud-no-2 cloud-medium">
    <div class="cloud-1"></div>
    <div class="cloud-2"></div>
    <div class="cloud-3"></div>
    <div class="cloud-4"></div>
  </div>   



  <div class="mount-one"></div>
  <div class="tops"></div>


  <div class="cloud cloud-no-3 cloud-small">
    <div class="cloud-1"></div>
    <div class="cloud-2"></div>
    <div class="cloud-3"></div>
    <div class="cloud-4"></div>
  </div> 
  <div class="spacer"></div>  
</div>



<div class="info">

  <div class=" text-center custom-text-h1">Ryan Mason</div>
  <span class="lead-text">CODER. <span class="accent">DEVELOPER.</span> TECHNOLOGY ENTHUSIAST.</span>
  <br/>
  <h3 class="text-center">PROFICIENCIES</h3>
  <div class="text-center"> 

<!--      svg node ember sass bootrap responsive design json ajax sql,, photoshop xml hueroku wireframing 
-->
<div class="c100 p96 skills small green">
  <span>HTML</span>
  <div class="slice">
    <div class="bar"></div>
    <div class="fill"></div>
  </div>
</div>

<div class="c100 p70 skills small">
  <span>PHP</span>
  <div class="slice">
    <div class="bar"></div>
    <div class="fill"></div>
  </div>
</div>


<div class="c100 p93 skills small green">
  <span>JS</span>
  <div class="slice">
    <div class="bar"></div>
    <div class="fill"></div>
  </div>
</div>

<div class="c100 p93 skills small green">
  <span>JQUERY</span>
  <div class="slice">
    <div class="bar"></div>
    <div class="fill"></div>
  </div>
</div>


<div class="c100 p90 skills small">
  <span>JAVA</span>
  <div class="slice">
    <div class="bar"></div>
    <div class="fill"></div>
  </div>
</div>

<div class="c100 p90 skills small green">
  <span>CSS</span>
  <div class="slice">
    <div class="bar"></div>
    <div class="fill"></div>
  </div>
</div>

<div class="c100 p45 skills small">
  <span>PY</span>
  <div class="slice">
    <div class="bar"></div>
    <div class="fill"></div>
  </div>
</div>

<div class="c100 p42 skills small">
  <span>MYSQL</span>
  <div class="slice">
    <div class="bar"></div>
    <div class="fill"></div>
  </div>
</div>

<div class="c100 p40 skills small">
  <span>POSTGRES</span>
  <div class="slice">
    <div class="bar"></div>
    <div class="fill"></div>
  </div>
</div>

<div class="c100 p85 skills small orange">
  <span>SWIFT</span>
  <div class="slice">
    <div class="bar"></div>
    <div class="fill"></div>
  </div>
</div>

<div class="c100 p96 skills small orange">
  <span>GIT</span>
  <div class="slice">
    <div class="bar"></div>
    <div class="fill"></div>
  </div>
</div>

</div>
</div>






{{component-gallery}}

