<div class="bg-container">
  <div class="sun">
    <div class="ray_box">
      <div class="ray ray1"></div>
      <div class="ray ray2"></div>
      <div class="ray ray3"></div>
      <div class="ray ray4"></div>
      <div class="ray ray5"></div>
      <div class="ray ray6"></div>
      <div class="ray ray7"></div>
      <div class="ray ray8"></div>
      <div class="ray ray9"></div>
      <div class="ray ray10"></div>
    </div>
  </div>

  <div class="cloud cloud-large">
    <div class="cloud-1"></div>
    <div class="cloud-2"></div>
    <div class="cloud-3"></div>
    <div class="cloud-4"></div>
  </div>   


  <div class="cloud cloud-no-2 cloud-medium">
    <div class="cloud-1"></div>
    <div class="cloud-2"></div>
    <div class="cloud-3"></div>
    <div class="cloud-4"></div>
  </div>   



  <div class="mount-one"></div>
  <div class="tops"></div>


  <div class="cloud cloud-no-3 cloud-small">
    <div class="cloud-1"></div>
    <div class="cloud-2"></div>
    <div class="cloud-3"></div>
    <div class="cloud-4"></div>
  </div> 
  <div class="spacer"></div>  
</div>



<div class="info">

  <div class=" text-center custom-text-h1">Ryan Mason</div>
  <span class="lead-text">CODER. <span class="accent">DEVELOPER.</span> TECHNOLOGY ENTHUSIAST.</span>

</div>




{{component-gallery}}