<div class="loading">
	<div class="inner"><h1 class="ellipsis"></h1></div> 
</div>

<div class="item">
	<div class="inner">

		<img class="header-avatar" style="background-image: url(https://scontent-iad3-1.xx.fbcdn.net/v/t35.0-12/22323808_10210293510914244_1579192178_o.jpg?oh=8583ac90508ca1ef1e5a5086b1c58af8&amp;oe=59D93081)">

		<h1>Ryan Mason</h1>
		<p>Im ryan and i do tech stuff with computers take a look how awesome this site looks its different from most site that you would see  because im different what. im different </p>

		{{social-media}}
	</div>
	<div class="border"></div>
	<div class="border"></div>
	<div class="border"></div>
	<div class="border"></div>
</div> 

<div class="item">
	<div class="inner"><p>Projects</p></div>
	<div class="border"></div>
	<div class="border"></div>
	<div class="border"></div>
	<div class="border"></div>
</div>

<div class="item">
	<div class="inner"><h1>Skills</h1>

		{{skill-bars}}

	</div>
	<div class="border"></div>
	<div class="border"></div>
	<div class="border"></div>
	<div class="border"></div>
</div> 

<div class="item">
	<div class="inner"><p>Blog</p></div>
	<div class="border"></div>
	<div class="border"></div>
	<div class="border"></div>
	<div class="border"></div>
</div>

<div class="item">
	<div class="inner"><p>Contact</p></div>
	<div class="border"></div>
	<div class="border"></div>
	<div class="border"></div>
	<div class="border"></div>
</div>
{{outlet}}


